name: Deploy to Amazon EC2 on Tag Push

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install Node
      uses: actions/setup-node@v3
      with: 
        node-version: 22

    - name: Install dependencies
      run: npm ci

    - name: Build project
      run: npm run build

    - name: Install SSH key
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{ secrets.EC2_KEY }}

    - name: Upload dist folder to EC2
      run: |
        rsync -avz --delete \
          dist/ \
          ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:${{ secrets.EC2_PATH }}/dist/

    - name: Reload nginx
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} \
          "sudo systemctl reload nginx"
